<h1>login here</h1>
<%= form_with url: 'users/checklogin', local: true do |form| %>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :password %><br>
    <%= form.text_area :password %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'signup Here', new_user_path %>